html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

.esri-popup__main-container {
  outline: none;
  pointer-events: auto;
  position: relative;
  z-index: 1;
  width: 500px;
  height: 100%;
  background-color: #fff;
  display: flex;
  flex-flow: column nowrap;
}
